################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microsoft.Teams.Apps.Scrum/.vs/Microsoft.Teams.Apps.Scrum/DesignTimeBuild
/Microsoft.Teams.Apps.Scrum/obj/Debug/netcoreapp2.1
/Microsoft.Teams.Apps.Scrum/obj
/Microsoft.Teams.Apps.Scrum/bin/Debug/netcoreapp2.1
/Microsoft.Teams.Apps.Scrum/.vs/Microsoft.Teams.Apps.Scrum/v16
/.vs
/Microsoft.Teams.Apps.Scrum/.vs/Microsoft.Teams.Apps.Scrum/config/applicationhost.config
